@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  font-size: 16px;

  line-height: 1.5;
  box-sizing: border-box;
}
html {
  background-color: "#1E1E1E";
  font-family: "Space Grotesk", sans-serif;
}

body {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  @apply bg-dark text-darkerWhite;
  background-image: url("/Noise\ &\ Texture\ \(1\).svg");
  background-size: cover;
}

@layer utilities {
  h2 {
    font-size: 42px;
    font-weight: bold;
    /* text-transform: capitalize; */
  }
  h5 {
    font-weight: 500;
    font-size: 1.5rem;

    text-transform: capitalize;
  }
}
